<%= form_tag("post_login", :method => "post") do %>
<p><%= label_tag(:logininfo, "Enter your username:") %> </p>
<p><%= text_field_tag(:logininfo) %></p>
<p><%= label_tag(:password, "Enter your password:") %> </p>
<p><%= text_field_tag(:password) %></p>
<p><%= submit_tag("Submit") %></p>

<p> Not a user? Sign up now! <%= link_to("Sign Up", {:controller => :user, :action => :new}) %></p>

<% end %>